@inherits LayoutComponentBase
@using SpiderWatcher_Client.Services
@inject NavigationService NavService
@inject NavigationManager Navigation

<div class="page bg-dark">
    @if (!IsHomePage())
    {
        <div class="sidebar bg-dark">
            <NavMenu />
        </div>
    }
    <main class="bg-dark">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsHomePage()
    {
        var uri = new Uri(Navigation.Uri);
        var path = uri.AbsolutePath.Trim('/');
        return string.IsNullOrEmpty(path);
    }
}