@using Microsoft.AspNetCore.Components;
@using SpiderWatcher_Client.Services
@inject NavigationService NavService

<div class="container-fluid mt-3 bg-dark">
    <div class="row">
        <div class="col">
            @if (NavService.CurrentPage != null && NavService.CurrentPage.StartsWith("/"))
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> SpiderWatcher-Home
                    </NavLink>
                </div>
            }
            else if (NavService.CurrentPage != null && NavService.CurrentPage.StartsWith("/crearCuenta"))
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="crearCuenta">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> CrearCuenta
                    </NavLink>
                </div>
            }
            else if (NavService.CurrentPage != null && NavService.CurrentPage.StartsWith("recuperarCuenta"))
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="recuperarCuenta">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> RecuperarCuenta
                    </NavLink>
                </div>
            }
            else if (NavService.CurrentPage != null && NavService.CurrentPage.StartsWith("contenidoBusqueda"))
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="contenidoBusqueda">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ContenidoBusqueda
                    </NavLink>
                </div>
            }
            else if (NavService.CurrentPage != null && NavService.CurrentPage.StartsWith("reproducirContenido"))
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="reproducirContenido">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ReproducirContenido
                    </NavLink>
                </div>
            }
            else if (NavService.CurrentPage != null && NavService.CurrentPage.StartsWith("visualizarContenido"))
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="visualizarContenido">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> VisualizarContenido
                    </NavLink>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;



    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
