@page "/recuperarCuenta"
@using SpiderWatcher_Client.DTOs.UserDTO
@using Newtonsoft.Json
@inject HttpClient Http

<div class="container bg-dark text-white">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-xl-8 bg-dark">
            <div class="card mt-5 bg-dark">
                <div class="card-body bg-dark">
                    <h2 class="card-title text-light">Recover Account</h2>
                    <form>
                        <div class="form-group mb-3">
                            <input type="email" id="email" name="email" class="form-control bg-secondary text-white input-white" placeholder="E-mail" required @bind="email">
                        </div>
                        <button type="button" id="send-button" class="btn btn-primary btn-block mb-3" @onclick="SendClicked">Send</button>
                        <div class="form-row align-items-center mb-3">
                            <div class="col">
                                <input type="text" id="code" name="code" class="form-control bg-secondary text-white input-white" placeholder="Code" required @bind="code" disabled="@string.IsNullOrEmpty(email)">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <input type="password" id="new-password" name="new-password" class="form-control bg-secondary text-white input-white" placeholder="New Password" required @bind="newPassword" disabled="@string.IsNullOrEmpty(code)">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" @onclick="RecoverAccount" disabled="@string.IsNullOrEmpty(newPassword)">Accept</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private UpdateUserContainerDTO updateUserContainerDTO = new UpdateUserContainerDTO();
    private UpdatePasswordUserDTO updatePasswordUserDTO = new UpdatePasswordUserDTO();
    private string email;
    private string code;
    private string newPassword;

    private void SendClicked()
    {
        // Correo de recuperación
    }

    private void VerifyClicked()
    {
        // Verificar código de recuperación
    }

    private void RecoverAccount()
    {
        // Recuperar cuenta
    }
}

<style>
    .input-white::placeholder {
        color: #ffff; 
    }
</style>
