@page "/reproducirContenido"

@using SpiderWatcher_Client.DTOs.ContentDTO
@using Newtonsoft.Json
@inject AuthenticationService AuthService
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h3>Reproducir Contenido</h3>

<div class="video-container">
    <video id="video" src="@readContentDTO.VideoReference" controls></video>
    <div class="controls">
        <button @onclick="RewindClicked">⏪</button>
        <button @onclick="PlayPauseClicked">@playPauseButtonText</button>
        <button @onclick="ForwardClicked">⏩</button>
    </div>
    <button @onclick="BackButtonClicked" class="back-button">←</button>
</div>

@code {
    private string playPauseButtonText = "⏯️";
    ReadContentDTO readContentDTO = new ReadContentDTO();

    private async Task PlayPauseClicked()
    {
        if (playPauseButtonText == "⏯️")
            playPauseButtonText = "▶️";
        else
            playPauseButtonText = "⏯️";
    }

    private async Task RewindClicked()
    {
        // Rebobinar
    }

    private async Task ForwardClicked()
    {
        // Adelantar
    }

    private async Task BackButtonClicked()
    {
        // Regresar
        NavigationManager.NavigateTo("/visualizarContenido");
    }
}
